.pymash-highlight .hll { background-color: #ffffcc }
.pymash-highlight  { background: #f8f8f8; }
.pymash-highlight .c { color: #408080; font-style: italic } /* Comment */
.pymash-highlight .err { border: 1px solid #FF0000 } /* Error */
.pymash-highlight .k { color: #008000; font-weight: bold } /* Keyword */
.pymash-highlight .o { color: #666666 } /* Operator */
.pymash-highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.pymash-highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.pymash-highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.pymash-highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.pymash-highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.pymash-highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.pymash-highlight .gd { color: #A00000 } /* Generic.Deleted */
.pymash-highlight .ge { font-style: italic } /* Generic.Emph */
.pymash-highlight .gr { color: #FF0000 } /* Generic.Error */
.pymash-highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pymash-highlight .gi { color: #00A000 } /* Generic.Inserted */
.pymash-highlight .go { color: #888888 } /* Generic.Output */
.pymash-highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pymash-highlight .gs { font-weight: bold } /* Generic.Strong */
.pymash-highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pymash-highlight .gt { color: #0044DD } /* Generic.Traceback */
.pymash-highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.pymash-highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.pymash-highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.pymash-highlight .kp { color: #008000 } /* Keyword.Pseudo */
.pymash-highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.pymash-highlight .kt { color: #B00040 } /* Keyword.Type */
.pymash-highlight .m { color: #666666 } /* Literal.Number */
.pymash-highlight .s { color: #BA2121 } /* Literal.String */
.pymash-highlight .na { color: #7D9029 } /* Name.Attribute */
.pymash-highlight .nb { color: #008000 } /* Name.Builtin */
.pymash-highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.pymash-highlight .no { color: #880000 } /* Name.Constant */
.pymash-highlight .nd { color: #AA22FF } /* Name.Decorator */
.pymash-highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.pymash-highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.pymash-highlight .nf { color: #0000FF } /* Name.Function */
.pymash-highlight .nl { color: #A0A000 } /* Name.Label */
.pymash-highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.pymash-highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.pymash-highlight .nv { color: #19177C } /* Name.Variable */
.pymash-highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.pymash-highlight .w { color: #bbbbbb } /* Text.Whitespace */
.pymash-highlight .mb { color: #666666 } /* Literal.Number.Bin */
.pymash-highlight .mf { color: #666666 } /* Literal.Number.Float */
.pymash-highlight .mh { color: #666666 } /* Literal.Number.Hex */
.pymash-highlight .mi { color: #666666 } /* Literal.Number.Integer */
.pymash-highlight .mo { color: #666666 } /* Literal.Number.Oct */
.pymash-highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.pymash-highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.pymash-highlight .sc { color: #BA2121 } /* Literal.String.Char */
.pymash-highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.pymash-highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.pymash-highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.pymash-highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.pymash-highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.pymash-highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.pymash-highlight .sx { color: #008000 } /* Literal.String.Other */
.pymash-highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.pymash-highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.pymash-highlight .ss { color: #19177C } /* Literal.String.Symbol */
.pymash-highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.pymash-highlight .fm { color: #0000FF } /* Name.Function.Magic */
.pymash-highlight .vc { color: #19177C } /* Name.Variable.Class */
.pymash-highlight .vg { color: #19177C } /* Name.Variable.Global */
.pymash-highlight .vi { color: #19177C } /* Name.Variable.Instance */
.pymash-highlight .vm { color: #19177C } /* Name.Variable.Magic */
.pymash-highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
