@import "pygments.scss";
@import "../../../../../bulma/bulma";

// TODO: is it possible to override padding/margin in bulma?

.table {
  width: 100%;
}

.table td:first-child {
  width: 100%;
}

//todo: fix css according to note in
//https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ #}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow: scroll;
}

//todo: how to make it take only needed width?
.player {
  display: inline-block;
}

.pymash-highlight {
  background-color: transparent;
}

.pymash-highlight pre {
  background-color: transparent;
}

.game {
  display: table;
}

@include from($desktop) {
  .game {
    margin-left: 15em;
  }
}

.player {
  display: table-cell;
  padding-left: 1em;
}

.player-row {
  display: table-row;
}

@include from($desktop) {
  pre {
    padding-left: 1em;
  }

  .choose {
    margin-bottom: 1em;
    margin-left: 1em;
  }
}

pre {
  tab-size: 4;
}

@include until($desktop) {
  pre {
    padding-left: 0;
    // TODO: why do we need font-size?
    font-size: 0.5em;
  }

  .choose {
    margin-bottom: 1em;
    margin-left: 0;
  }
}

.white {
  background-color: #feffe5;
}

.black {
  background-color: #d3fcff;
}

footer .navbar-brand {
  flex-flow: wrap;
}

footer .navbar-brand .navbar-item {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
