$table-cell-padding: 0.5em 0.75em 0.5em 0;
$global-left-padding: 1rem;

@import "pygments.scss";
@import "../../../../external/bulma/bulma";

// basic stuff

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

//todo: fix css according to note in
//https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ #}
// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow: scroll;
}

footer .navbar-brand {
  flex-flow: wrap;

  .navbar-item {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .navbar-item:first-child {
    padding-left: $global-left-padding;
  }
}

// game

.player {
  padding-left: $global-left-padding;
  padding-bottom: 1rem;
}

pre {
  tab-size: 4;
}

.pymash-highlight {
  background-color: transparent;
}

.pymash-highlight pre {
  background-color: transparent;
}

.white-player {
  background-color: #feffe5;
}

.black-player {
  background-color: #d3fcff;
}

.choose {
  font-size: 1.3em;
}

@include until($desktop) {
  pre {
    padding-left: 0;
  }

  .choose {
    margin-left: 0;
  }
}

@include mobile() {
  .choose {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@include from($desktop) {
  .player {
    padding-left: 15rem;
  }

  pre {
    padding-left: $global-left-padding;
  }

  .choose {
    margin-bottom: 1rem;
    margin-left: $global-left-padding;
  }
}

// leaders view

.leaders-wrapper {
  padding: 0 $global-left-padding;

  .repo-column {
    max-width: 70vw;
  }

  .rating-column {
    text-align: right;
  }
}
