[Unit]
Description='pymash web application'

[Service]
User=ec2-user
Type=simple
PIDFile=/run/pymash_web.pid
EnvironmentFile=/etc/pymash.d/environment
ExecStart=/usr/local/bin/python3.6 -m pymash.main
Restart=always

[Install]
WantedBy=multi-user.target
