[Unit]
Description='pymash background processing'

[Service]
User=ec2-user
Type=simple
PIDFile=/run/pymash_background.pid
EnvironmentFile=/etc/pymash.d/environment
ExecStart=/usr/local/bin/python3.6 -m pymash.scripts.process_finished_games
Restart=always

[Install]
WantedBy=multi-user.target
