[Unit]
Description='pymash monitoring'

[Service]
EnvironmentFile=/etc/pymash.d/environment
ExecStart=/usr/bin/python3.6 -m pymash.scripts.monitoring
