<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ app['config'].css_url }}">
    <link rel="icon"  href="http://d1b4dmbwpc7cik.cloudfront.net/pymash.png">
    <title>{% block title %}Pymash{% endblock %}</title>
</head>
<body>

{% block header %}
    <header>
        {% set is_leaders_view = request.match_info.route.name == 'show_leaders' %}
        <div class="navbar is-primary" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="{{ url('new_game') }}"
                   class="navbar-item{% if not is_leaders_view %} is-active{% endif %}">Pymash</a>
                <a href="{{ url('show_leaders') }}"
                   class="navbar-item{% if is_leaders_view %} is-active{% endif %}">
                    Leaders
                </a>
            </div>
        </div>
    </header>
{% endblock %}

<div class="main">
    {% block main %}{% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="https://github.com/alexandershov/pymash" class="navbar-item">
                    Source
                </a>
                <a href="https://github.com/alexandershov/pymash/issues/new"
                   class="navbar-item">
                    Report a bug
                </a>
                <a href="https://github.com/alexandershov/pymash/blob/master/making_of.md" class="navbar-item">
                    Making of
                </a>
            </div>
        </div>
    </footer>
{% endblock %}

</body>
</html>
