{% extends 'base.html' %}

{% block title %}Which code is better?{% endblock %}

{% block body %}
    <div style="display: table; margin: auto;">
        <div style="display: table-row">
            <div class="player white" style="display: table-cell; padding-left: 1.5em">
                {% with text=white.text, white_score=1, black_score=0 %}
                    {% include 'player.html' %}
                {% endwith %}
            </div>
        </div>
        <div style="display: table-row;">
            <div class="player black" style="display: table-cell; padding-left: 1.5em">
                {% with text=black.text, white_score=0, black_score=1 %}
                    {% include 'player.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}
