{% extends 'base.html' %}

{% block title %}Leaders{% endblock %}

{% block body %}
    <div class="leaders-wrapper">
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th>Repo</th>
                <th>Rating</th>
            </tr>
            </thead>
            {% for a_repo in repos %}
                <tr>
                    <td><a href="{{ a_repo.url }}">{{ a_repo.name }}</a></td>
                    <td>{{ a_repo.rating|int }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


