{% extends 'base.html' %}

{% block title %}Leaders{% endblock %}

{% block main %}
    <div class="leaders-wrapper">
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th class="repo-column">Repo</th>
                <th class="rating-column">Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for a_repo in repos %}
                <tr>
                    <td class="repo-column">
                        <a href="{{ a_repo.url }}">{{ a_repo.name }}</a>
                    </td>
                    <td class="rating-column">
                        {{ a_repo.rating|int }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


