<div class="column">
    {{ text|highlight }}
    <form action="{{ url('post_game', game_id=game.game_id) }}" method="POST">
        <input type="hidden" name="white_id" value="{{ game.white_id }}"/>
        <input type="hidden" name="black_id" value="{{ game.black_id }}"/>
        <input type="hidden" name="hash"
               value="{{ game.get_hash(app['config'].game_hash_salt) }}"/>
        <input type="hidden" name="white_score" value="{{ white_score }}"/>
        <input type="hidden" name="black_score" value="{{ black_score }}"/>
        <button class="button is-success is-rounded" type="submit">Choose</button>
    </form>
</div>
